<h1>Data Science Tools and Ecosystem</h1>

<b>Objectives</b>
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Scala</li>
  <li>SAS</li>
</ul>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scipy
2. Numpy
3. Pandas

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td>RStudio</td>
    </tr>
    <tr>
      <td>Visual Studio Code</td>
    </tr>
  </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [23]:
print (3 +2 )
print(6+4 )

5
10

In [25]:
#This a simple arithmetic expression to mutiply then add integers.
print ((3*4)+5)

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
m = 200
print (m / 60)

3.3333333333333335

<h2>Author </h2>
Abdelrahman Gad